@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
font-family: 'Roboto', sans-serif;
}

.section1 {
    background-color: #1F2937;
}

.header {
display: flex;
justify-content: space-between;
}

.headerlogo {
    font-size: 24px;
}

.headerlinks {
display: flex;
}

.section1body {
display: flex;
}

.section1bodytext {
display: flex;
flex-direction: column;
}

.hero {
font-size: 48px;
font-weight: 900;
}

.herosecondary, .headerlinks {
    color: #E5E7EB;
    font-size: 18px;
}

.headerlogo, .hero, button {
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
}

.pepperonipizzaimage {
    width: 100%;
    height: auto;
    max-width: 300px;
}
